#root {
  text-align: center;
  margin: 0 auto;
}

body{
  min-height: unset;
}

.container{
min-width: 324px;
min-height: 500px;
}
.navigation-bar {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.tab{
  padding: 10px 30px;
 
}
.tab{
  cursor: pointer;
  font-weight: 500;
  border-bottom: 2px solid #e8e8e8;
}

.tab.active{
  border-bottom-color: #0084f5;
}

.add-btn{
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  background-color: #0084f5;
  border: none;
}

.add-btn:hover{
  background-color: rgba(0, 132, 245, 0.8);
}

input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  flex: 1;
  border: 2px solid #e8e8e8;
}

.todo-table{
  list-style: none;
  padding: 0;
}

.todo-control{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.todo-item{
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
}

.todo-item.completed{
  text-decoration: line-through;
}

.todo-control-btn{
  font-size: 14px;
  cursor: pointer;
}

.todo-control-btn:hover {
  opacity: 0.8;
}

.delete-all-btn{
  padding: 10px 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  background-color: #ff3041;
  float: right;
  border: none;
}

.delete-all-btn:hover{
  background-color: rgba(255,48,65, 0.8);
  border: none
}